body {
  background-color: #0f0f0f;
  font-family: "SFMono-Regular", monospace;
  color: #ffffff;
  margin: 0;
}
div {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.box {
  margin: auto;
  width: 50%;
  display: block;
  text-align: center;
}
.box h1 {
  border-bottom: solid 1px #ffffff;
}
.box .congratulate {
  display: none;
}
.box #toggle {
  display: none;
}
.orange-text {
  color: #db6a00;
  margin: 30px;
}
.border-bottom {
  border-bottom: solid 1px #ffffff;
}
.btn {
  background-color: #db6a00;
  font-size: large;
  margin: 40px;
  color: #ffffff;
  border: solid 5px #ffffff;
  width: 50%;
  margin: auto;
  padding: 5px;
  text-align: center;
}
.btn:hover {
  background-color: white;
  color: #db6a00;
  border: solid 5px #db6a00;
  cursor: pointer;
}
#toggle:checked + .congratulate {
  display: inline;
}
#toggle:checked + .congratulate .congratulate1 {
  display: inline;
  margin: 20px;
}
#toggle:checked + .congratulate .congratulate2 {
  display: inline;
  margin: 20px;
}
#toggle:checked + .congratulate .congratulate3 {
  display: inline;
  margin: 20px;
}

/* CSS */


h3 {
  margin: auto;
  width: 100%;
}

a:link {
  text-decoration: none;
  color: white;
}

a {
  color: white;
}

a:hover{
  color: #db6a00;
}

.banner {
  background: url(./../images/banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 9000px;
  margin: 0 auto;
  vertical-align: middle;
  display: table-cell;
  border-bottom: solid #181818 5px;
}

.tableview {

  text-align: center;
  width: 20%;
  vertical-align: middle;
  display: table-cell;
  justify-content: space-around;
  flex-wrap: wrap;
  min-width: 300px;
  padding: 5px;
}

.tableview img:hover {
  background-color: #db6a00;
  cursor: pointer;
  border-radius: 4px;
}

.tableview .orange-text:hover {
  cursor: pointer;
  color: white;
}

.main {
  text-align: center;
  width: 60%;
  padding-top: 30px;
  padding-bottom: 50px;
  margin: auto;

  /* background-color: #db6a00; */
}

.background .slider-area {
  border: solid 3px white;
   width: 300px;
}

.tableview h4 {
  width: 85%;
  margin: auto;

}

.tableview img {
  margin-top: 30px;
}

@media (max-width: 900px) {
  .box {
    width: 100%;
  }
  .box .btn {
    width: 100px;
    margin: auto;
  }
  .box h1 {
    width: 70%;
    margin: auto;
  }

  .orange-text {
    margin: 30px;
  }
  .box .congratulate .congratulate3 {
    font-size: 25px;
  }

  .tableview {
    margin: auto;
    display: block;
  }

  .main {

    width: fit-content;
  }


  .background .slider-area {
    border: solid 3px white;
     width: 250px;
  }
  
}


.slider-area {
  width: 150px;
  margin: auto;
}


.slick-slide img {
  margin: auto;
  /* width:10px; */
  height: 100%;
}
