body {
  background-color: #181818;
  font-family: 'SF Mono', monospace;
  color: #ffffff;
  margin: 0;
}
div {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.box {
  margin: auto;
  width: 50%;
  display: block;
  text-align: center;
}
.box h1 {
  border-bottom: solid 1px #989898;
}
.box .congratulate {
  display: none;
}
.box #toggle {
  display: none;
}
.box h3 {
  color: #d66800;
}
.border-bottom {
  border-bottom: solid 1px #989898;
}
.btn {
  background-color: #d66800;
  font-size: large;
  margin: 40px;
  color: #ffffff;
  border: solid 5px #ffffff;
}
.btn:hover {
  background-color: white;
  color: #d66800;
  border: solid 5px #d66800;
  cursor: pointer;
}
#toggle:checked + .congratulate {
  display: inline;
}
#toggle:checked + .congratulate .congratulate1 {
  display: inline;
}
#toggle:checked + .congratulate .congratulate2 {
  display: inline;
}
#toggle:checked + .congratulate .congratulate3 {
  display: inline;
}
#toggle:checked + .congratulate .congratulate4 {
  display: inline;
}
#toggle:checked + .congratulate .congratulate5 {
  display: inline;
}


.banner {
 
  width: 100%;
  height: 100%;
  background:url('./../images/banner.png');
  background-position:center;
  background-size:cover;
}