body {
  background-color: #0f0f0f;
  font-family: 'SF Mono', monospace;
  color: #ffffff;
  margin: 0;
}
div {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.box {
  margin: auto;
  width: 50%;
  min-width: 425px;
  display: block;
  text-align: center;
}
.box h1 {
  border-bottom: solid 1px #ffffff;
}
.box .congratulate {
  display: none;
}
.box #toggle {
  display: none;
}
.box .orange-text {
  color: #db6a00;
}
.border-bottom {
  border-bottom: solid 1px #ffffff;
}
.btn {
  background-color: #db6a00;
  font-size: large;
  margin: 40px;
  color: #ffffff;
  border: solid 5px #ffffff;
}
.btn:hover {
  background-color: white;
  color: #db6a00;
  border: solid 5px #db6a00;
  cursor: pointer;
}
#toggle:checked + .congratulate {
  display: inline;
}
#toggle:checked + .congratulate .congratulate1 {
  display: inline;
}
#toggle:checked + .congratulate .congratulate2 {
  display: inline;
}
#toggle:checked + .congratulate .congratulate3 {
  display: inline;
}





h3 {
  margin: auto;
  width: 50%;
  padding: 10px;
}

a:link {
  text-decoration: none;
  color: white;
}

a {
  color: white;
}

a:hover{
  color: #db6a00;
}

.banner {
  background: url(images/banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 9000px;
  margin: 0 auto;
  vertical-align: middle;
  display: table-cell;
  border-bottom: solid #181818 5px;
}

